/* Header */
.header-menu {
    margin: 1em;
    img{
        width: 150px;
        padding-left: 5em;
    }
    i {
        position: relative;
        bottom: 0.3em;
        font-size: 1.3em;
    }
}
.restaurant-img{
    img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: center;
    }
}

/* Restaurant */
.restaurant-menu{
    background-color: rgb(246, 246, 246);
    position: relative;
    margin-top: -3.7em;
    padding: 1em 1em 3em 1em;
    border-top-left-radius: 2.8em;
    border-top-right-radius: 2.8em;
}
.green-underline{
    border-top: solid 3px #99e2d0;
    width: 18%;
    margin-top: -1em;
    margin-bottom: 1em;
}
.restaurant__titre {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    h1 {
        font-family: "Shrikhand";
        font-size: 1.6em;
        font-weight: normal;            
    }
    i {
        font-size: 1.5em;
        margin-top: -0.7em;
    }
}

.menu__choix {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 0 1em;
    opacity: 0;
    &-description{
        font-size: 0.9em;
        line-height: 55%;
    }
    &-prix{
        margin-top: 1.5em;
        font-weight: bold;
        font-size: 0.9em;
    }
    @keyframes apparition {
        0% {transform: translateY(20px);}
        75% {opacity: 0.5;}
        100% {
            transform: translateY(0);
            opacity: 1;
        }
        
    }
    @for $i from 1 through(4){
        &:nth-of-type(#{$i}){
            animation: apparition 800ms 200ms *$i forwards;
        }
    }

}

.bouton {
    text-align: center;
    margin-top: 2.5em;
    button{
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    color: white;
    padding: 1em;
    border-radius: 23px;
    box-shadow: 0px 1px 7px 4px lightgrey;
    width: 55%;
    }
}

/* Responsive tablette */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .header-menu {
        img{
            width: 220px;
            padding-left: 15em;
        }
        i{
            font-size: 1.7em;
        } 
    }
    .restaurant__titre{
        font-size: 1.8em;
    }
    .restaurant-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .green-underline {
            width: 100%;
        }
    }

    .restaurant-partie {
        width: 45%;
        margin: 0.6em;
        h2{
            text-align: center;
            font-weight: normal;
        }
    }
    .bouton {
        margin-top: 1.5em;
        button{
        width: 40%;
        }
    }
}

/* Responsive desktop */
@media only screen and (min-width: 1025px) {
    .header-menu {
        img{
            width: 30%;
            padding-left: 26em;
        }
        i{
            font-size: 2.5em;
        } 
    }
    .restaurant-menu{
        position: relative;
        margin-top: -2.2em;
    }
    .restaurant__titre{
        font-size: 1.5em;
        h1{
            margin-left: 8.5em;
        }
        i{
            margin-top: -0.8em;
        }
    }
    .restaurant-contenu{
        display: flex;
        justify-content: space-around;
        .green-underline {
            width: 15%;
        }
    }
    .restaurant-partie {
        width: 30%;
        h2{
            font-weight: normal;
        }
    }
    .bouton {
        margin-top: 1.5em;
        button{
        width: 33%;
        }
    }
}