@charset "UTF-8";
/* Header */
.header-menu {
  margin: 1em;
}
.header-menu img {
  width: 150px;
  padding-left: 5em;
}
.header-menu a {
  text-decoration: none;
  color: black;
}
.header-menu i {
  position: relative;
  bottom: 0.3em;
  font-size: 1.3em;
}

.restaurant-img img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: center;
}

/* Restaurant */
.restaurant-menu {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -3.7em;
  padding: 1em 1em 3em 1em;
  border-top-left-radius: 2.8em;
  border-top-right-radius: 2.8em;
}

.green-underline {
  border-top: solid 3px #99e2d0;
  width: 18%;
  margin-top: -1em;
  margin-bottom: 1em;
}

.restaurant__titre {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.restaurant__titre h1 {
  font-family: "Shrikhand";
  font-size: 1.6em;
  font-weight: normal;
}
.restaurant__titre i {
  font-size: 1.5em;
  margin-top: -0.7em;
}

.menu__choix {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
  opacity: 0;
}
.menu__choix-description {
  width: 78%;
  font-size: 0.9em;
  line-height: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__choix-description h3 {
  font-size: 1.1em;
}
.menu__choix-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 10px;
  padding: 2px 0;
}
.menu__choix-description:hover {
  cursor: pointer;
  width: 60%;
  text-overflow: ellipsis;
}
.menu__choix-prix {
  align-self: flex-end;
  margin-top: 1.5em;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 0.9em;
}
@keyframes apparition {
  0% {
    transform: translateY(20px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__choix:nth-of-type(1) {
  animation: apparition 800ms 200ms forwards;
}
.menu__choix:nth-of-type(2) {
  animation: apparition 800ms 400ms forwards;
}
.menu__choix:nth-of-type(3) {
  animation: apparition 800ms 600ms forwards;
}
.menu__choix:nth-of-type(4) {
  animation: apparition 800ms 800ms forwards;
}

.bouton {
  text-align: center;
  margin-top: 2.5em;
}
.bouton button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  position: relative;
  color: white;
  padding: 1em;
  border-radius: 1.4em;
  box-shadow: 0px 3px 5px 3px lightgrey;
  width: 55%;
  z-index: 1;
}
.bouton button:hover::after {
  opacity: 1;
}
.bouton button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.4em;
  background: linear-gradient(#ff88de, #a674e2);
  box-shadow: 0px 8px 7px 1px lightgrey;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms ease-in-out;
}

/* Responsive tablette */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header-menu img {
    width: 220px;
    padding-left: 15em;
  }
  .header-menu i {
    font-size: 1.7em;
  }

  .restaurant__titre {
    font-size: 1.8em;
  }

  .restaurant-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurant-contenu .green-underline {
    width: 100%;
  }

  .restaurant-partie {
    width: 45%;
    margin: 0.6em;
  }
  .restaurant-partie h2 {
    text-align: center;
    font-weight: normal;
  }

  .bouton {
    margin-top: 1.5em;
  }
  .bouton button {
    width: 40%;
  }
}
/* Responsive desktop */
@media only screen and (min-width: 1025px) {
  .header-menu img {
    width: 30%;
    padding-left: 26em;
  }
  .header-menu i {
    font-size: 2.5em;
  }

  .restaurant-menu {
    position: relative;
    margin-top: -2.2em;
  }

  .restaurant__titre {
    font-size: 1.5em;
  }
  .restaurant__titre h1 {
    margin-left: 8.5em;
  }
  .restaurant__titre i {
    margin-top: -0.8em;
  }

  .restaurant-contenu {
    display: flex;
    justify-content: space-around;
  }
  .restaurant-contenu .green-underline {
    width: 15%;
  }

  .restaurant-partie {
    width: 30%;
  }
  .restaurant-partie h2 {
    font-weight: normal;
  }

  .bouton {
    margin-top: 1.5em;
  }
  .bouton button {
    width: 33%;
  }
}
/*Animation loader */
.spinner {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  position: fixed;
  visibility: hidden;
  animation: spinner 3s linear;
}
.spinner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.spinner .spinner-inner-1 {
  background: linear-gradient(to right, rgba(147, 86, 220, 0) 0%, rgba(147, 86, 220, 0) 50%, #9356DC 51%);
}
.spinner .spinner-inner-2 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 100%);
}
.spinner .spinner-inner-3 {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background: white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(1300deg);
    visibility: hidden;
  }
}
.mapage {
  animation: page 4s linear;
}

@keyframes page {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/*Animation coeur */
.full {
  opacity: 0;
  position: absolute;
  font-size: 1.5rem;
  background: linear-gradient(#9656dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty {
  opacity: 1;
  position: absolute;
  font-size: 1.5rem;
}

.full:hover {
  animation: myfull 800ms forwards;
}

@keyframes myfull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.empty:hover {
  animation: myempty 800ms forwards;
}

@keyframes myempty {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Animation Coche */
.menu__coche {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-out 150ms;
  margin-right: -60px;
}
.menu__coche i {
  background-color: white;
  padding: 5px 4px 3px 4px;
  border-radius: 1.4em;
  color: #99E2D0;
}
.menu__choix:hover .menu__coche {
  margin-right: 0;
}
.menu__choix:hover .menu__coche i {
  animation: coche-rotation 550ms 180ms ease-out;
}

@keyframes coche-rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  margin: 0;
  font-family: "Roboto";
}

/* Page d'acceuil */
/* Header */
.header-acceuil {
  text-align: center;
  padding: 2em 0em 1em 0em;
}
.header-acceuil img {
  width: 150px;
}

/* Présentation */
.recherche {
  background-color: #eaeaea;
  padding: 1em 0em 1em 3em;
  text-align: center;
  border-top: outset 2px rgba(209, 204, 204, 0.884);
}
.recherche input {
  background-color: #eaeaea;
  border: none;
  padding: 0.3em 0 0.3em 0.3em;
  margin-left: 0.3em;
}

.presentation {
  background-color: #f6f6f6;
  padding-top: 1em;
  padding-bottom: 3.5em;
  text-align: center;
}
.presentation h1 {
  font-size: 1.4em;
  padding-left: 3.2em;
  padding-right: 3.2em;
}
.presentation h1 + p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #686666;
}
.presentation button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  position: relative;
  color: white;
  padding: 1em;
  border-radius: 1.4em;
  box-shadow: 0px 3px 5px 3px lightgrey;
  width: 55%;
  z-index: 1;
}
.presentation button:hover::after {
  opacity: 1;
}
.presentation button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.4em;
  background: linear-gradient(#ff88de, #a674e2);
  box-shadow: 0px 8px 7px 1px lightgrey;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms ease-in-out;
}

/* Fonctionnement */
.fonctionnement {
  padding: 30px 0px 40px 15px;
}
.fonctionnement__point {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 0.5em;
  margin: 1em;
  box-shadow: 0px 0px 10px lightgrey;
}
.fonctionnement__point:hover {
  background-color: #f5edff;
}
.fonctionnement__point:hover i {
  color: #9356DC;
}
.fonctionnement p {
  margin-top: 0;
}
.fonctionnement__number {
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: #9356DC;
  border-radius: 1em;
  color: white;
  position: relative;
  top: 18px;
  right: 21px;
}
.fonctionnement i {
  color: grey;
  margin-right: 2em;
  margin-left: 1.5em;
}

/* Restaurant */
.restaurant {
  background-color: #f6f6f6;
  padding: 2em 1em 3em 1em;
}

.restaurant-carte {
  background-color: white;
  border-radius: 1em;
  margin-bottom: 2em;
  box-shadow: 0px 0px 10px lightgrey;
}
.restaurant-carte__img img {
  object-fit: cover;
  object-position: center;
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: 190px;
}
.restaurant-carte__nouveau {
  position: relative;
  right: -14.8em;
  top: -10.8em;
  background-color: #99e2d0;
  padding: 0.4em 0.6em 0.4em 0.6em;
  color: #2ba387;
  border-radius: 4px;
}
.restaurant-carte__description {
  display: flex;
  flex-direction: column;
  padding-left: 0.7em;
  padding-bottom: 0.5em;
}
.restaurant-carte__description .heart {
  margin-left: 18em;
  margin-top: -1em;
}
.restaurant-carte__description p {
  margin-top: 0;
  margin-bottom: -1em;
  line-height: 4em;
}
.restaurant-carte__titre1 {
  margin: 0;
}
.restaurant-carte__titre2 {
  margin-bottom: 0;
}
.restaurant-carte a {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 0.5em 1em 1em 1.3em;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
}
footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 155%;
}
footer i {
  margin-right: 1em;
  font-size: 0.6em;
}
footer a {
  text-decoration: none;
  color: white;
}

/* Responsive tablette */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header-acceuil img {
    width: 35%;
  }

  .presentation button {
    width: 35%;
  }

  .fonctionnement {
    text-align: center;
  }
  .fonctionnement__point {
    width: 75%;
    margin-left: 5em;
  }
  .fonctionnement__number {
    right: 18.2em;
  }
  .fonctionnement i {
    margin-left: 0;
  }

  .restaurant-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant-carte {
    width: 45%;
  }

  footer {
    text-align: center;
  }
}
/* Responsive desktop */
@media only screen and (min-width: 1025px) {
  .header-acceuil img {
    width: 25%;
  }

  .presentation button {
    width: 22%;
  }

  .fonctionnement-bloc {
    display: flex;
    justify-content: space-around;
  }
  .fonctionnement__point {
    text-align: center;
    width: 29%;
  }
  .fonctionnement__number {
    right: 12.3em;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement i {
    margin-left: 0;
  }

  .restaurant-bloc {
    display: flex;
    justify-content: space-around;
  }
  .restaurant-carte {
    width: 22%;
  }
  .restaurant-carte__nouveau {
    right: -12em;
  }
  .restaurant-carte__description .heart {
    margin-left: 14em;
  }

  footer h3 {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    margin: 3em;
  }
}

/*# sourceMappingURL=styles.css.map */
