@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto";
}

/* Page d'acceuil */
/* Header */
header {
  text-align: center;
  padding: 2em 0em 1em 0em;
}
header img {
  width: 150px;
}

/* Présentation */
.recherche {
  background-color: #eaeaea;
  padding: 1em 0em 1em 3em;
  text-align: center;
  border-top: outset 2px rgba(209, 204, 204, 0.884);
}
.recherche input {
  background-color: #eaeaea;
  border: none;
  padding: 0.3em 0 0.3em 0.3em;
  margin-left: 0.3em;
}

.presentation {
  background-color: #f6f6f6;
  padding-top: 1em;
  padding-bottom: 3.5em;
  text-align: center;
}
.presentation h1 {
  font-size: 1.4em;
  padding-left: 3.2em;
  padding-right: 3.2em;
}
.presentation h1 + p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #686666;
}
.presentation button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 1em;
  border-radius: 23px;
  box-shadow: 0px 1px 7px 4px lightgrey;
  width: 55%;
}

/* Fonctionnement */
.fonctionnement {
  padding: 30px 0px 40px 15px;
}
.fonctionnement__point {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 0.5em;
  margin: 1em;
  box-shadow: 0px 0px 10px lightgrey;
}
.fonctionnement__point:hover {
  background-color: #f5edff;
}
.fonctionnement__point:hover i {
  color: #9356DC;
}
.fonctionnement p {
  margin-top: 0;
}
.fonctionnement__number {
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: #9356DC;
  border-radius: 1em;
  color: white;
  position: relative;
  top: 18px;
  right: 21px;
}
.fonctionnement i {
  color: grey;
  margin-right: 2em;
  margin-left: 1.5em;
}

/* Restaurant */
.restaurant {
  background-color: #f6f6f6;
  padding: 2em 1em 3em 1em;
}

.restaurant-carte {
  background-color: white;
  border-radius: 1em;
  margin-bottom: 2em;
  box-shadow: 0px 0px 10px lightgrey;
}
.restaurant-carte__img img {
  object-fit: cover;
  object-position: center;
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: 190px;
}
.restaurant-carte__nouveau {
  position: relative;
  right: -14.8em;
  top: -10.8em;
  background-color: #99e2d0;
  padding: 0.4em 0.6em 0.4em 0.6em;
  color: #2ba387;
  border-radius: 4px;
}
.restaurant-carte__description {
  display: flex;
  flex-direction: column;
  padding-left: 0.7em;
  padding-bottom: 0.5em;
}
.restaurant-carte__description i {
  position: relative;
  margin-left: 12em;
  bottom: 0.6em;
  font-size: 1.5em;
}
.restaurant-carte__description p {
  margin-top: 0;
  line-height: 10%;
}
.restaurant-carte__titre1 {
  margin: 0;
}
.restaurant-carte__titre2 {
  margin-bottom: 0;
}
.restaurant-carte a {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 0.5em 1em 1em 1.3em;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
}
footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 155%;
}
footer i {
  margin-right: 1em;
  font-size: 0.6em;
}
footer a {
  text-decoration: none;
  color: white;
}

/* Responsive tablette */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header img {
    width: 35%;
  }

  .presentation button {
    width: 35%;
  }

  .fonctionnement {
    text-align: center;
  }
  .fonctionnement__point {
    width: 75%;
    margin-left: 5em;
  }
  .fonctionnement__number {
    right: 18.2em;
  }
  .fonctionnement i {
    margin-left: 0;
  }

  .restaurant-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant-carte {
    width: 45%;
  }
  .restaurant-carte__description i {
    margin-left: 11em;
  }

  footer {
    text-align: center;
  }
}
/* Responsive desktop */
@media only screen and (min-width: 1025px) {
  header img {
    width: 25%;
  }

  .presentation button {
    width: 22%;
  }

  .fonctionnement-bloc {
    display: flex;
    justify-content: space-around;
  }
  .fonctionnement__point {
    text-align: center;
    width: 29%;
  }
  .fonctionnement__number {
    right: 12.3em;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement i {
    margin-left: 0;
  }

  .restaurant-bloc {
    display: flex;
    justify-content: space-around;
  }
  .restaurant-carte {
    width: 22%;
  }
  .restaurant-carte__nouveau {
    right: -12em;
  }
  .restaurant-carte__description i {
    margin-left: 9.5em;
  }

  footer h3 {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    margin: 3em;
  }
}

/*# sourceMappingURL=styles.css.map */
